Repository jdalrymple/gitbeaker: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix

.lintstagedrc.yml:

'*.{js,ts}':
  - 'prettier --write'
  - 'tslint --fix'
  - 'git add'
'*.{json,md,yml}':
  - 'prettier --write'
  - 'git add'

removed "type": "modules" from package.json
  package.json
Due: prettier --write

chore(release): 11.2.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Add group label support
  src/core/services/Labels.ts
Due: prettier --write, tslint --fix

Fixing lint issue
  src/core/services/Labels.ts
Due: prettier --write, tslint --fix

Fixing formatting issues
  src/core/services/Labels.ts
Due: prettier --write, tslint --fix

Fixing lint issues with prettier
  src/core/services/Labels.ts
Due: prettier --write, tslint --fix

chore(release): 11.2.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Addressing PR comments.
  README.md
  src/core/index.ts
  src/core/services/GroupLabels.ts
  src/core/services/Labels.ts
  src/core/services/index.ts
  test/unit/bundles/GroupsBundle.ts
Due: prettier --write, tslint --fix

Addressing mr comments, refactoring labels to use the resource label template.
  src/core/services/GroupLabels.ts
  src/core/services/Labels.ts
  src/core/templates/ResourceLabels.ts
  src/core/templates/index.ts
Due: prettier --write, tslint --fix

fix: Missing gzip content type from body processing logic
  src/core/infrastructure/KyRequester.ts
Due: prettier --write, tslint --fix

chore(release): 11.2.2 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

epic issues http methods were wrong
  src/core/services/EpicIssues.ts
Due: prettier --write, tslint --fix

fix: Epic issues HTTP methods are incorrect
  src/core/services/EpicIssues.ts
Due: prettier --write, tslint --fix

chore(release): 11.2.3 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

docs: Adding missing changelog information
  CHANGELOG.md
Due: prettier --write

docs: Updating docs for new Request Profiling feature
  README.md
Due: prettier --write

feat: Adding support for Request Profiling
  src/core/infrastructure/BaseService.ts
Due: prettier --write, tslint --fix

docs: Missing profile mode from docs
  README.md
Due: prettier --write

docs: Removing quotation marks
  README.md
Due: prettier --write

feat: Adding CLI support for Request Tokens
  src/bin/index.ts
Due: prettier --write, tslint --fix

fix: Fixing missing form variables when triggering pipelines
  src/core/services/Triggers.ts
Due: prettier --write, tslint --fix

Excluding GitlabQL from import
  src/core/index.ts
Due: prettier --write, tslint --fix

Exporting GitlabQL
  src/core/services/index.ts
Due: prettier --write, tslint --fix

Create GitlabQL
  src/core/services/GitlabQL
Due: none

Create GraphQLRequester
  src/core/infrastructure/GraphQLRequester
Due: none

Rename GraphQLRequester to GraphQLRequester.js
  src/core/infrastructure/GraphQLRequester.js
Due: prettier --write, tslint --fix

Update GraphQLRequester.js
  src/core/infrastructure/GraphQLRequester.js
Due: prettier --write, tslint --fix

Update index.ts
  src/core/infrastructure/index.ts
Due: prettier --write, tslint --fix

chore: linting
  README.md
  src/core/infrastructure/BaseService.ts
Due: prettier --write, tslint --fix

chore: linting
  src/core/services/Triggers.ts
Due: prettier --write, tslint --fix

Adding missng BaseRequestOption types
  src/core/infrastructure/index.ts
Due: prettier --write, tslint --fix

Missing variable declaration
  src/core/services/Triggers.ts
Due: prettier --write, tslint --fix

Profile Mode header should only be set if profileToken is set
  src/core/infrastructure/BaseService.ts
Due: prettier --write, tslint --fix

Update README.md
  README.md
Due: prettier --write

docs: Correcting spelling and grammar errors within the README(#470)
  README.md
Due: prettier --write

chore: Linting
  src/core/infrastructure/BaseService.ts
Due: prettier --write, tslint --fix

chore: Linting
  src/core/services/Triggers.ts
Due: prettier --write, tslint --fix
