Repository jdalrymple/gitbeaker: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix

chore: revert minimum node version back to 8.9.0
  package.json
Due: prettier --write

chore: Fixing supported node version. Setting back to lts (version>=10.0.0)
  package.json
Due: prettier --write

Add type exports.
  src/index.ts
  test/unit/bundles/Gitlab.ts
  test/unit/bundles/GroupsBundle.ts
  test/unit/bundles/ProjectsBundle.ts
  test/unit/bundles/UsersBundle.ts
Due: prettier --write, tslint --fix

fix: Adding proper support for the buffer responses
  README.md
  src/infrastructure/KyRequester.ts
Due: prettier --write, tslint --fix

Remove the .then in favour of await
  src/infrastructure/KyRequester.ts
Due: prettier --write, tslint --fix

chore(release): 10.2.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

fix: Adding path argument to the Project Imports API
  src/services/ProjectImportExport.ts
Due: prettier --write, tslint --fix

feat: Add support for the Packages API #430
  README.md
  src/index.ts
  src/services/Packages.ts
  src/services/index.ts
Due: prettier --write, tslint --fix

fix: Handling empty text responses
  src/infrastructure/KyRequester.ts
Due: prettier --write, tslint --fix

Incorrect variable reference
  src/services/Packages.ts
Due: prettier --write, tslint --fix

Adding extra log to narrow down where gitlab error occurs
  test/docker/docker-entrypoint
Due: none

chore(release): 11.0.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

chore(release): 11.0.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

chore: Fixing coverage push
  .gitignore
  .travis.yml
Due: prettier --write

fix: Switching type import to hopefully fix #417
  src/infrastructure/index.ts
Due: prettier --write, tslint --fix

chore(release): 11.0.2 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Error in token assignment
  src/core/infrastructure/BaseService.ts
Due: prettier --write, tslint --fix

Forgotten folder references
  test/unit/services/Pipelines.ts
  test/unit/services/Projects.ts
Due: prettier --write, tslint --fix

Fixing up some dependencies
  package-lock.json
  package.json
Due: prettier --write

Updating npm scripts
  package.json
Due: prettier --write

Updating docs to include CLI information
  README.md
Due: prettier --write

Update .gitignore
  .gitignore
Due: none

Adding env var support for config
  package-lock.json
  package.json
  src/bin/index.ts
Due: prettier --write, tslint --fix

Fixing prefix to be GITLAB_[option] for env vars
  src/bin/index.ts
Due: prettier --write, tslint --fix

Fixed old function references
  src/bin/index.ts
Due: prettier --write, tslint --fix

Adding missing docs for env config
  README.md
Due: prettier --write

Forgot to mention the .env file
  README.md
Due: prettier --write

chore(release): 11.1.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Adding initial outline. Need to reorganize the request flow
  src/core/infrastructure/BaseService.ts
Due: prettier --write, tslint --fix

chore(release): 11.1.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

fix: Forgot to await for the response #426
  src/core/infrastructure/KyRequester.ts
Due: prettier --write, tslint --fix

chore(release): 11.1.2 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

chore: Updating a few packages
  package-lock.json
  package.json
Due: prettier --write

get single environment
  src/core/services/Environments.ts
Due: prettier --write, tslint --fix

update readme to note correct build command
  README.md
Due: prettier --write

Fix(docs): Incorrect method signature
  README.md
Due: prettier --write

package.json changes for typedoc generated vuepress docs
  package-lock.json
  package.json
Due: prettier --write

feat(Merge Request): Add Approval State endpoint
  src/core/services/MergeRequests.ts
Due: prettier --write, tslint --fix

Path conditions:
  prettier --write: (any of: *.{js,ts}) or (any of: *.{json,md,yml})
  tslint --fix: any of: *.{js,ts}
